@media screen and (max-width: 1024px){
      .contact-icon{
    fill: black;
  }
  #contact-info{
    color: black;
  }
#contact-phone{
  display:none;
}
  .box{
    width: 90%;
  }
  .popup{
    width: 90%;
    height: 99vh;
  }

}

.hide{
  display: none;
}

.contact-icon{
    width: 16px;
    height: 16px;
    padding-right: 4px;

}
@media screen and (min-width: 1025px){
    .contact-icon{
    fill: white;
  }
#contact-phone{
  width: 240%;
  height: 240%;
  z-index: -1;
}
#contact-info{
  color: white;
}
.popup{
  width: 30%;
}
}


.info-group{padding-top: 10px;
}
  #contact-info{
    
    width: 100%;
    left: 0;

padding: 15%;
text-align: center;
  font-size: 12px;
    z-index: 100;
  position: absolute;

}
.box {
  width: 100%;
  margin: 0 auto;
  background: rgba(255,255,255,0.2);
  padding: 10%;
  border: 2px solid #fff;
  border-radius: 20px/50px;
  background-clip: padding-box;
  text-align: center;


}


.button {
  font-size: 1em;
  padding: 10px;
  color: #fff;
  border: 2px solid #06D85F;
  border-radius: 20px/50px;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease-out;
}
.button:hover {
  background: #06D85F;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;


}
.overlay:target {
  visibility: visible;
  opacity: 1;

}

.popup {
  margin: 1% auto;
  padding: 20px;
  background: white;
  background: rgba(255,255,255,0.975);
  border-radius: 10px;
  position: relative;
  transition: all .5s ease-in-out;
    border: 2.5px solid #9E9E9E;
}

.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}
.popup .close {
  position: absolute;
  top: 20px;
  left: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  fill: #616161;
}
.popup .close:hover {
  fill: #607D8B;
}
.popup .content {
  overflow: hidden;
}
